@model Proyecto_WEB.Models.Empleado

<h1>Registrar Empleado</h1>
<form asp-action="Crear">
    <div class="form-group">
        <label>Nombre</label>
        <input asp-for="Nombre" class="form-control" />
    </div>
    <div class="form-group">
        <label>Apellidos</label>
        <input asp-for="Apellidos" class="form-control" />
    </div>
    <div class="form-group">
        <label>Teléfono</label>
        <input asp-for="Telefono" class="form-control" />
    </div>
    <div class="form-group">
        <label>Email</label>
        <input asp-for="Email" class="form-control" />
    </div>
    <div class="form-group">
        <label>Dirección</label>
        <textarea asp-for="Direccion" class="form-control"></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Registrar</button>
</form>
