@model List<Proyecto_WEB.Models.Producto>

<h1>Productos</h1>

<h2>@ViewData["Title"]</h2>

<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-md-4 mb-4">
            <div class="card h-80">                
                <img src="@item.Imagen" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title">@item.Nombre</h5>
                    <p class="card-text">
                        Precio: $@item.Precio <br />
                        Unidades Disponibles: @item.Stock <br />
                    </p>
                </div>
            </div>
        </div>
    }
</div>
