@{
    ViewData["Title"] = "Login Page";
    Layout = "~/Views/Shared/_LayoutExterno.cshtml";
}

<div class="az-body">
    <div class="az-signin-wrapper">
        <div class="az-card-signin">
            <a  asp-area="" asp-controller="Home" asp-action="Index"><h1 class="az-logo">Flexigym</h1></a> 
            <div class="az-signin-header">
                <form >
                    <div class="form-group">
                        <label>Correo</label>
                        <input type="text" class="form-control" placeholder="Ingrese su correo para recuperación" value="">
                    </div>
                    <button class="btn btn-az-primary btn-block">Enviar correo</button>
                </form>
            </div>
            <div class="az-signin-footer">
                <p>Nuevo en Flexigym? <a asp-area="" asp-controller="Login" asp-action="Register">Registrarme</a></p>
            </div>
        </div>
    </div>

    <script src="~/pages/jquery/jquery.min.js"></script>
    <script src="~/pages/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/pages/ionicons/ionicons.js"></script>

    <script src="~/pages/js/azia.js"></script>

</div>
